build-*
release
*.swp
*~
tags
TAGS
local.mk
target/*/tools/mkheader

# cscope files
cscope.*
ncscope.*

# clangd
.cache
compile_commands.json

# the file i use for lk2nd logs
debug.lol

# Zed Editor
.zed/
.zedignore
